.dropdown {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 3px 5px rgba(#000, 0.59);

    &__item {
        padding: 15px 35px;
        font-size: 1.25em;

        &:hover {
            background: adjust-color($color: white, $lightness: -5%);
        }
    }
}