.select {
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;

    &__input {
        appearance: none;
        color: inherit;
        z-index: 10;
        position: relative;
    }

    &__icon {
        font-size: 21px;
        position: absolute;
        right: 10px;
    }
}