@import 'variables';

.habit-form {
    max-width: 650px;
    width: 100%;
    margin: 50px auto;
    min-height: 71px;
    border: 4px solid $primary-color;
    font-size: 1.5em;
    padding: 0 20px;

    &__title {
        font-size: inherit;
        border: none;
        background: none;
        width: 100%;
        height: 71px;
    }
}