@import 'variables';

.habit-form {
    position: relative;
    height: 71px;
    margin: 50px 0;
    
    &__content {
        margin: 0 auto;
        position: relative;
        z-index: 110;
        border: 4px solid $primary-color;
        padding: 0 20px 30px;
        max-width: 650px;
        width: 100%;
        font-size: 1.5em;
        color: $text-black-color;
        transition: background 0.4s ease-out;
    }

    &[data-state="closed"] &__content {
        padding: {
            top: 0;
            bottom: 0;
        }
    }

    &__title {
        font-size: inherit;
        border: none;
        background: none;
        width: 100%;
        height: 71px;
        color: inherit;
    }

    &[data-state="open"] &__title {
        border-bottom: 8px solid #ffffff;
        margin-bottom: 25px;
    }

    &[data-state="closed"] &__options {
        display: none;
    }

    &[data-state="open"] {
        z-index: 100;

        .overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(black, 0.20);
        }

        .habit-form__content {
            background: $primary-color;
            color: #ffffff;
        }
    }

    &__date {
        display: flex;
        flex-wrap: wrap;

        &__container {
            position: relative;
            display: inline-flex;
            align-items: center;
        }
    }
}

.btn {
    padding: 15px 20px;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    font: {
        family: 'Roboto', sans-serif;
        size: 1rem;
        weight: 400;
    }
    box-shadow: 0 2px 4px rgba(black, 0.27);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 2px rgba(black, 0.27);
    }

    &--no-shadow {
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }

    &--white {
        background: #ffffff;
        color: $primary-color;
    }

    &--habit {
        height: 100%;
        padding: 0;
        width: 60px;
        box-shadow: none;
        color: #fff;

        &:hover {
            box-shadow: none;
        }
    }
}